@model ExpenseWeb.Models.ExpenseCreateViewModel

    <form asp-controller="expense" asp-action="create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Omschrijving"></label>
            <input class="form-control" asp-for="Omschrijving" />
        </div>

        <div class="form-group">
            <label asp-for="Datum"></label>
            <input class="form-group" asp-for="Datum" />
        </div>

        <div class="form-group">
            <label asp-for="Bedrag"></label>
            <input class="form-group" asp-for="Bedrag" />
        </div>

        <div class="form-group">
            <label asp-for="Categorie"></label>
            <select class="form-group" asp-for="Categorie">
                <option>Voedsel</option>
                <option>Huis- en tuin</option>
                <option>Multimedia</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Photo"></label>
            <input asp-for="Photo" class="form-control" />
            <span class="text-danger" asp-validation-for="Photo"></span>
        </div>

        <div class="form-group">
            <label asp-for="SelectedPaidStatus"></label>
            <select class="form-control" asp-for="SelectedPaidStatus" asp-items="@Model.PaidStatuses"></select>
            <span class="text-danger" asp-validation-for="SelectedPaidStatus"></span>
        </div>

        <div class="form-group">
            <label asp-for="SelectedPersons"></label>
            <select multiple class="form-control" asp-for="SelectedPersons" asp-items="@Model.Persons"></select>
            <span class="text-danger" asp-validation-for="SelectedPersons"></span>
        </div>

        <button class="btn btn-primary" type="submit" style="background-color:green">Voeg Uitgave Toe</button>
    </form>

