<p><a asp-controller="Statistics" asp-action="Highest">Hoogste Uitgave</a></p>

<p><a asp-controller="Statistics" asp-action="Lowest">Laagste Uitgave</a></p>

<p><a asp-controller="Statistics" asp-action="HighestDay">Duurste Dag</a></p>

<p><a asp-controller="Statistics" asp-action="OverViewPerMonth">Overzicht per Maand</a></p>

<p><a asp-controller="Statistics" asp-action="HighestCategory">Duurste Categorie</a></p>

<p><a asp-controller="Statistics" asp-action="CheapestCategory">Goedkoopste Categorie</a></p>